---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
    <h1 class="font-display text-5xl font-semibold">{post.data.title}</h1>
    <ul class="flex py-4 my-2 border-y border-command-yellow bg-midnight">
        {
            post.data.tags?.map((tag) => {
                return <li class="rounded-full py-1 px-3 border-slate-blue border-2 text-white">{tag}</li>;
            })
        }
    </ul>
    <Content />
</Layout>
